@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-scale {
  background-repeat: no-repeat;
  transition: all .7s;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

.grayscale {
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.grayscale:hover {
  filter: none;
}